/* from https://www.figma.com/community/file/840895380520234275/gruvbox-syntax-highlighting */
:root {
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d79921;
	--blue: #458588;
	--purple: #b16286;
	--aqua: #689d6a;
	--grey: #a89984;
	--orange: #d65d0e;

	--light-red: #fb4939;
	--light-green: #b8bb26;
	--light-yellow: #fabd2f;
	--light-blue: #83a598;
	--light-purple: #d3869b;
	--light-aqua: #8ec07c;
	--light-orange: #fe8019;

	--bg0_h: #1d2021;
	--bg0_s: #32302f;
	--bg0: #282828;
	--bg1: #3c3836;
	--bg2: #504945;
	--bg3: #665c54;
	--bg4: #7c6f64;
	--dark-grey: #928374;

	--fg0: #fbf1c7;
	--fg1: #ebdbb2;
	--fg2: #d5c4a1;
	--fg3: #bdae93;
	--fg4: #a89984;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
	background: var(--bg0);
}

.info > .weather-container, 
.info > .date-container {
	color: var(--fg3);
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 2.5rem;
  padding: 10px;
	color: var(--fg0);
}

.container {
  /* border: 1px solid red; */
}

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: min(0, 50%);
}

.container > .study,
.container > .resources,
.container > .news,
.container > .leisure {
  border: 2px solid var(--light-yellow);
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  width: min(50%, 30vw, 100%);
  font-size: 1rem;
	color: var(--fg1);
  line-height: 1.8;

	background: var(--bg1);
}

.container > .study > h2,
.container > .resources > h2,
.container > .news > h2,
.container > .leisure > h2 {
  font-size: 1.5rem;
  text-align: center;
}

a:link,
a:visited,
a:active {
  color: var(--fg4);
  text-decoration: none;
}

a:hover {
  color: var(--fg1);
  font-size: 1rem;
}
